<form method="post" action="patch '/posts/:id'">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name" id="name">
  <input type="text" name="content" id="content">

</form> 