<<<<<<< HEAD
<h1><%= "#{@post.name}" %></h1>
<p><%= "#{@post.content}"%></p>

<form method="post" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete" id="delete">
</form>

=======
>>>>>>> 11ed58c1f18767e6671ac2a5228616e5b4858909
